.Page{
  display: flex;
  justify-content: center;
  flex-direction: center;
}
.formContainer{
  display:flex;
  flex-direction: column;
  border:1px solid grey;
  width:500px;
  height:500px;
  margin-top:50px;
  padding:0;
  border-radius: 5px;
}
.pageName{
  text-align: center;
  background-color: #fde74c;
  background-image: linear-gradient(319deg, #fde74c 0%, #32ff7a 37%, #2fcbe0 100%);  
  color:#fff;
  font-size: 28px;
  border-radius: 5px 5px 0 0 ;
  padding:20px;
}
.addForm {
  margin-top:50px;
  margin-left:100px;
 
}
.addForm label{
  font-weight: bold; 
  padding:10px;
  font-size:18px;
  text-transform: uppercase;
}
.addForm input{
  border-radius: 3px;
  border:1px solid #62a2e6;
  width:80%;
  margin-left:10px;

}
.addForm input:focus{
  border-radius: 5px;
  border:2px solid #007bff;
  outline:none;
}
.addForm textarea{
  width:80%;
  resize: vertical;
  border-radius: 3px;
  margin-left:10px;
  border-radius: 5px;
  border:1px solid #62a2e6;
  overflow: visible;
  min-height: 90px;

}
.addForm textarea:focus{
  border-radius: 5px;
  border:2px solid #007bff;
  outline:none;
}
.addForm button{
  cursor: pointer;
}
